<section data-ng-controller="SymphonyController" 
		 data-ng-init="find()">
<div class="container-fluid">
    <div class="row-fluid">
        <header class="span5 offset2" 
                data-ng-show="symphonies || symphonies.length > 0">
                <h1>Listen to a symphony:</h1>
        </header>
    </div>
    <div class="row-fluid">
        <div class="btn-group span5 pull-right">
            <button type="button" 
                    class="btn btn-primary" 
                    ng-model="listSort"
                    btn-radio="'-favorites.num'">
                    Favorite
            </button>
            <button type="button" 
                    class="btn btn-primary" 
                    ng-model="listSort" 
                    btn-radio="'-created'">
                    Newest
            </button>
        </div>
        <div class="span6 offset2 pull-left" 
             data-ng-show="symphonies 
                || symphonies.length > 0">
                Search by Title: 
                <input ng-model="query" 
                       value="">
                </input>
        </div>
        <div class="well span8 offset2">
            <ul class="symphonies unstyled">
                <li data-ng-repeat=
                        "symphony in symphonies | filter:{title:query} | orderBy:listSort"
                    id="{{symphony._id}}">
                    <span>{{symphony.created | date:'medium'}}</span> /
                    {{symphony.user.name}}
                    <h2><a data-ng-href="#!/symphonies/{{symphony._id}}">{{symphony.title}}</a></h2>
                    <div>{{symphony.composer}}</div>
                    <div>
                        <!--heart glyph--> &#9829 {{symphony.favorites.num}}
                    </div>
                </li>
            </ul>
            <h1 data-ng-hide="!symphonies || symphonies.length">No symphonies yet. <br> Why don't you <a href="/#!/symphonies/compose">Compose One</a>?</h1>
        </div>
    </div>
</div>
</section>